a{
    font-family: 'Zen Maru Gothic', sans-serif;
}

body{
    background-color: #F3E9FB;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: end;
    flex-direction: column;
}
body > div{
    width: 100%;
    max-height: 300px;
}
header{
    padding-right: 45px;
    padding-top: 30px;
    margin-bottom: 100px;
}
header li{
    display: inline;
    padding-right: 25px;
}
header li a{
    text-decoration: none;
    color: #635C62;
    padding: 10px;
}
#Carrinho{
    height: 10px;
    width: 10px;
}

#Logo{
    width: 245px;
    height: 100%;
    float: left;
    margin-top: 5px;
}

#Bolo{
    margin-top: 100px;
    float: left;
}